<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css">
<!-- own css -->
<link rel="stylesheet" href="../css/customForm.css">
<link rel="stylesheet" href="../css/prodCard.css">
<script src="../../js/customForm.js"></script>
<link rel="stylesheet" href="../css/general.css">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body class="HomeBody">
	<div class="container my-2">
		<div class="mainWrapper">
            <div class="HomeContainer">
                <div class="title home"><h1>Freakfarm</h1></div>
                <div id="homeText"><p>Frische Permakultur Produkte</p></div>
                <div class="ButtonContainer">
                    <div class="button-primary"><a class="button" href="http://localhost:8080/product">Shop</a></div>
                    <div class="button-primary"><a class="button"href="http://localhost:8080/order">Bestellungen</a></div>
                    <div class="button-primary"><a class="button"href="http://localhost:8080/product">Produkte - liste</a></div>                  
                </div>
            </div>
		</div>
	</div>
</body>
</html>